body{
    background: linear-gradient(270deg, #181717, #000000);
    text-align: center;
    padding-top:5vw;
}

#home{
    position: fixed;
    top: 20px;
    left: 2.5%;
    text-align:start;
    width: 5vw;
    height: 5vw;

    background:
            url("../img/home.png"),
        linear-gradient(
            70deg,
            rgb(116, 105, 105),
            rgba(119, 111, 111, 0.12)
        );
    border-radius: 15px;
    background-size: contain;
}

#home:hover{
    transform:translateY(-5px);
}

#home:active{
    transform:translateY(0);
}

h1{
    font-size: 7vw;
}

p{
    font-size: 2vw;
}

p, h1, a{
    background:linear-gradient(270deg, #ffffff, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.menu{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display:flex;
    gap: 12px;
    padding: 12px 18px;
    border-radius:25px;
    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    z-index: 1000;
}

.menu a{
    text-decoration:none;

    background: transparent;
    border: none;
    color: white;
    font-size: 1vw;

    
     padding: 10px 18px;

    cursor: pointer;

    transition: background 0.2s ease, transform 0.2s ease;
}

.menu a:hover{
    background: rgba(255, 255, 255, 0.025);
    transform:translateY(-5px);
}

.menu a:active{
    transform:translateY(0);
}

.project{
    background:linear-gradient(270deg, #807f7f, #2b2929);
    border-radius: 15px;
    width: 60vw;
    transform: translateX(20vw);
    align-self: center;
    display:flex;

    margin:3vw 0vw 3vw 0vw;
}


.project h1{
    color:black;
    font-size: 5vw;
    margin-right: 5vw;
}

.project img{
    width:13vw;
    height:10vw;
        display: block;
    margin-right: auto; /* aligne à droite */
    padding-left:1vw;
    align-self: center;
}

.project:hover{

    transform: translate(20vw, -5px);
}

.project:active{

    transform: translate(20vw, 0px);
}

.presentation{
    background:linear-gradient(270deg, #807f7f, #2b2929);
    border-radius: 15px;
    width: 60vw;
    transform: translateX(20vw);
    align-self: center;
    padding: 1vw;

    margin:3vw 0vw 3vw 0vw;
}

.presentation h1{
    color:black;
    font-size: 5vw;
    padding: 1vw;
    background:linear-gradient(70deg, #333131, #8d8c8c);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
.presentation h3{
    color:black;
    font-size: 2vw;

}

.presentation p{
    color:black;
    font-size: 3vw;

}