

body{
    background: linear-gradient(270deg, #181717, #000000);
    text-align: center;
    padding-top:10vw;
}

#home{
    position: fixed;
    top: 20px;
    left: 2.5%;
    text-align:start;
    width: 5vw;
    height: 5vw;

    background:
            url("../img/home.png"),
        linear-gradient(
            70deg,
            rgb(116, 105, 105),
            rgba(119, 111, 111, 0.12)
        );
    border-radius: 15px;
    background-size: contain;
}



#home:hover{
    transform:translateY(-5px);
}

#home:active{
    transform:translateY(0);
}

h1{
    font-size: 7vw;
}

p{
    font-size: 2vw;
}

strong{
    color: rgb(33, 28, 51);
}

p, h1, a{
    background:linear-gradient(270deg, #ffffff, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.menu{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display:grid;
    grid-template-columns: auto auto auto;

    padding: 2% 5%;
    border-radius:25px;
    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    z-index: 1000;
}

.menu a{
    display: inline-flex;
    text-decoration:none;

    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 5px 25px;


    background: transparent;
    border: none;
    color: white;
    font-size: 25px;

    cursor: pointer;

    transition: background 0.2s ease, transform 0.2s ease;
}

.menu a:hover{
    background: rgba(255, 255, 255, 0.025);
    transform:translateY(-5px);
}

.menu a:active{
    transform:translateY(0);
}

.project{
    background:linear-gradient(270deg, #807f7f, #2b2929);
    border-radius: 15px;
    width: 60vw;
    transform: translateX(20vw);
    align-self: center;
    display:flex;

    margin:3vw 0vw 3vw 0vw;
}


.project h1{
    color:black;
    font-size: 5vw;
    margin-right: 5vw;
}

.project img{
    width:8vw;
    height:8vw;
    display: block;
    margin-right: auto; /* aligne à droite */
    padding-left:1vw;
    align-self: center;
    object-fit: cover;
}

.project:hover{

    transform: translate(20vw, -5px);
}

.project:active{

    transform: translate(20vw, 0px);
}

.presentation{
    background:linear-gradient(270deg, #807f7f, #2b2929);
    border-radius: 15px;
    width: 60vw;
    transform: translateX(20vw);
    align-self: center;
    padding: 1vw;
    margin:3vw 0vw 3vw 0vw;
    color: rgba(255,255,255, 0.5);

    scroll-margin-top: 8vw;
}

.presentation:hover{
box-shadow: 1px 1px 25px -2px rgba(255,255,255,1);
-webkit-box-shadow: 1px 1px 25px -2px rgba(255,255,255,1);
-moz-box-shadow: 1px 1px 25px -2px rgba(255,255,255,1);
}

.presentation h1{
    color: rgba(255,255,255, 0.65);
    font-size: 5vw;
    padding: 1vw;
    background:linear-gradient(70deg, #14133375, #2e2c3554);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.presentation h2{
    color: rgba(255,255,255, 0.65);
    font-size: 2vw;
    padding: 1vw;
    background:linear-gradient(70deg, #14133375, #2e2c3554);
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.presentation h3{
    font-size: 2vw;
}

.presentation p{
    font-size: 2vw;
    color: rgba(255,255,255, 0.75);
}


.presentation li{
        display: inline-flex;            /* active Flexbox */
    justify-content: center;  /* centre horizontalement */
    align-items: center;   
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    background: rgba(255,255,255, 0.1);
    padding: 1vw 1.5vw;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
    color: rgba(255,255,255, 0.65);;

    text-align: center;
}

.presentation li:hover{
    transform: translateX(0.5vw);
    background: rgba(255, 255, 255, 0.05);
    color: rgba(0,0,0, 0.5);
}

.presentation li:active{
    transform:scale(0.9);
}

.presentation ul {
    list-style-position: inside;

    width: fit-content;
    margin: 2vw auto;
    padding: 0;
    list-style: none;

    display:grid;
    
    grid-template-columns: repeat(2, auto);
    gap: 1vw;
    width: 70%;
}

.presentation a{
    all: unset;
    cursor: pointer;       /* si tu veux que ce soit cliquable */
    display: inline-block;
    text-decoration:underline;
    color:rgb(15, 15, 151);
    font-size: 1.5vw;
    width: 30vw;
    margin-left:5vw;
}

.description{
    position:fixed;
    background: black;
    border-radius:20px;
    background-color: black;
    color: white;
    width:50%;
    height: 30%;
    top:70%;
    left:25%;

    display: block;
    padding: 2em;
    text-align: center;
    
    transform:translateY(100%);
        backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);

    transition: transform 0.5s ease;

    z-index: 1;
    overflow: hidden; 

    background:linear-gradient(70deg, #14133370, #2e2c3581);

        background-clip: border-box;
    -webkit-background-clip: border-box;


    padding-left:2em;
    padding-right:2em;
}


.description-show{
    transform:translateY(0%);
}

.description p{
        display: block;   
    text-align: center;

    word-wrap: break-word; 
    overflow-wrap: break-word;
    line-height: 1.4;

}

.table{
    color: transparent;
    background:linear-gradient(270deg, #807f7f, #2b2929);
    border-radius: 15px 15px 15px 15px;
    position : fixed;
    left:0vw;
    top:10vw;
    height:31vw;
    width: 15vw;
    transform:translateX(1.5vw);
    overflow: hidden;
    cursor: pointer;

        display: flex;


    transition: width 0.5s ease, color 0.5s ease 0.3s, transform 0.5s ease;;
}

.table-hide{
    width: 1.5vw;
    transform:translateX(0vw);
    border-radius: 0px 15px 15px 0px;
}

.table:hover{
    box-shadow: 1px 1px 25px -2px rgba(255,255,255,1);
    -webkit-box-shadow: 1px 1px 25px -2px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 25px -2px rgba(255,255,255,1);
}

.table-hide:hover{
    height:31vw;
    width: 15vw;
    border-radius: 15px;
    transform:translateX(1.5vw);
}

.table a{
    color: white; 
    text-decoration: none;;
}

.table li{
    text-align: center;
    opacity: 1;
    transform: translateX(0px); 
    transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
    padding: 0.75em;
font-size: clamp(0.75em, 1.25vw, 2em);
    font-weight: bold;
}

.table a:hover{
    color: rgb(141, 139, 139); 
}

.table ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


.table-hide li{
    opacity: 0;
    transform: translateX(-20px); 
}

.table-hide:hover li{
    opacity: 1; 
    transform: translateX(0);
}


#slide {
    max-width: 90%;

    height: 20em;
    object-fit: contain; /* très important pour vidéos et images */
    margin: auto;
    margin-top:1%;
}
.prev, .next{
    position:absolute;

    background-color: transparent;
    font-weight: bold;
    font-size: 7em;
    border:0px;
    top:50%;
    transform: translateY(-50%);

    transition:font-size 0.2s ease;
}

.prev:active, .next:active{
    font-size: 4em;
}

.dots
{
    margin-top: 1em;
    display:grid;

    width:40%;
    margin-left:30%;
}

.dot{
    width: 30%;
    height: 1em;
    background-color: black;
    border-radius: 999px;
 
    margin:auto;
}

.prev{left:1%;}
.next{right:1%;}


@media screen and (max-width: 10px) {
    .project {
        width: 90vw;
        transform: translateX(5vw);
        background-color: red;
    }
    body{
        background-color: red;
    }
}
